/*
 * Color Scheme URL: http://colorschemedesigner.com/#4e21Tw0w0w0w0
 */

@primary1: #1240AB;
@primary2: #2A4480;
@primary3: #06266F;
@primary4: #4671D5;
@primary5: #6C8CD5;

@secondary1: #FFAA00;
@secondary2: #BF8F30;
@secondary3: #A66E00;
@secondary4: #FFBF40;
@secondary5: #FFD073;

.small-border(@radius: 3px) {
	border: 1px solid black;
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

.ui-font-1 {
	font-weight: bold;
	size: 12pt;
}

.ui-clickable {
	cursor: pointer;
}

.gradient-bg {
	background: -moz-linear-gradient(top,  @primary5,  @primary4); /* for firefox 3.6+ */
}

.shadow {
	@offset: 5px;
	-moz-box-shadow: @offset, @offset, @offset, #ccc;
	-webkit-box:  @offset, @offset, @offset, #ccc;
	box-shadow:  @offset, @offset, @offset, #ccc;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

#header {
	ul#menu {
		.gradient-bg;
		color: @secondary5;
		padding: .5em;
		margin: 0;

		li {
			.ui-font-1;
			.ui-clickable;

			display: inline;
			list-style-type: none;
			padding: .5em;
		}
		
		li:hover {
			border-bottom: 2px solid @secondary1;
		}
	}
}

#content {
	padding: 1em;

	.fretboard {
		.shadow;
		padding: 3px;
	}
	
	.fretboard:hover {
		border: 3px solid @primary1;
		border-width: 3px 3px 3px 3px;
	}
}