// Inner top-bar to use as toolbar.
.topbar-wrapper {
	position: relative;
	height: 40px;
	margin: 5px 0 15px;
	
	.topbar {
		position: absolute;
		margin: 0 -10px;
		
		.topbar-inner {
			padding-left: 20px;
			padding-right: 20px;
			.border-radius
		}
	}
}

div#notes label {
	font-size: 9pt;
	width: auto;
	font-weight: bold;
}

div.rootNote {
	border-bottom: 1px solid #212121;
	display: block;
	clear: both;
	padding-left: 1em;
	border-color: #212121;
	background-color: #fff;
	
	h2 {
		color: #212121;
	}
}

div#oldBrowser {
	p {
		font-size: 12pt;
		line-height: 1.5em;
	}
}

.sprite(@left: 0px, @top: -5px) {
	a {
		background: transparent url(../images/browser_logos-128.png) @left @top no-repeat;
		width: 128px;
		height: 128px;
		display: inline-block;
	}
}

ul.browsers {
	margin-top: 18px;
	li {
		display: inline;
		width: 128px;
		height: 128px;
		margin: 18px 10px 0 0;
		list-style-type: none;

		&.firefox {
			.sprite(-157px);
		}
		
		&.chrome {
			.sprite(-12px);
		}
		
		&.opera {
			.sprite(-292px);
		}
		
		&.safari {
			.sprite(-426px)
		}
		
		&.ie {
			.sprite(-570px);
		}
	}
}