@thumbMargin: 12px;

.thumbnail {
	float: left;
	width: 100px;
	margin: 0 @thumbMargin @thumbMargin @thumbMargin;
	padding: 5px;

	span {
		font-weight: bold;
		font-family: Ubuntu, Arial, sans-serif;
		width: 100px;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
	}
	
	&.fretboard {
		width: 376px;
	}
}

div.about {
	p {
		font-size: @basefont;
	}
}

ul#features {
	margin-left: 1em;
	list-style-type: none;
	line-height: @baseline - 2;

	li {
		color: @grayDark;
		font-size: @basefont;
		font-style: italic;
	}
}

footer, #footer {
	p {
		font-size: 12px;
	}
}

#tuningDialog {
	.modal-body {
		overflow-y: scroll;
		height: 250px;
	}

	ul#tunings {
		list-style-type: none;
		cursor: pointer;

		margin: -15px -15px 0 -15px;

		li.tuning {
			padding: 15px;

			h3 {
				display: block;
				font-size: 11pt;
				line-height: 1em;
			}

			p {
				font-size: 10pt;
			}

			a.info {
				font-size: 80%;
				font-style: italic;
			}

			border-bottom: 1px solid #eee;
		}

		li.tuning:hover {
			background-color: #eee;
		}
		
		ul.notes {
			li {
				display: inline;
				padding: 0 4px;
				border: none;
			}
		}
	}
	
	.modal-footer {
		.actions {
			border-top: none;
			margin-top: 0;
			padding: 0;
		}
	}
}