<div id="fingeringForm" class="modal large fade" style="display: block;">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3 id="title">Select Tuning</h3>
	</div>

	<div class="modal-body">
		<canvas id="canvas" width="150" height="150"></canvas>
	</div>

	<div class="modal-footer">
		<div class="actions">
			<input class="btn primary" type="submit" value="Select" id="btnSelectTuning" />
			<input class="btn cancel" type="submit" value="Cancel" id="btnCancel" />
		</div>
	</div>

</div>