<div id="chordForm" class="hide">
	<div id="notes">
		<input type="radio" id="note_c" value="C" name="notes" checked />
		<label for="note_c">C</label>
		
		<input type="radio" id="note_c_sharp" value="C#" name="notes" />
		<label for="note_c_sharp">C<sup>#</sup>/D<sup>b</sup></label>
		
		<input type="radio" id="note_d" value="D" name="notes" />
		<label for="note_d">D</label>
		
		<input type="radio" id="note_d_sharp" value="D#" name="notes" />
		<label for="note_d_sharp">D<sup>#</sup>/E<sup>b</sup></label>
		
		<input type="radio" id="note_e" value="E" name="notes" />
		<label for="note_e">E</label>
		
		<input type="radio" id="note_f" value="F" name="notes" />
		<label for="note_f">F</label>
		
		<input type="radio" id="note_f_sharp" value="F#" name="notes" >
		<label for="note_f_sharp">F<sup>#</sup>/G<sup>b</sup></label>
		
		<input type="radio" id="note_g" value="G" name="notes" />
		<label for="note_g">G</label>
		
		<input type="radio" id="note_g_sharp" value="G#" name="notes" />
		<label for="note_g_sharp">G<sup>#</sup>/A<sup>b</sup></label>
		
		<input type="radio" id="note_a" value="A" name="notes" />
		<label for="note_a">A</label>
		
		<input type="radio" id="note_a_sharp" value="A#" name="notes" />
		<label for="note_a_sharp">A<sup>#</sup>/B<sup>b</sup></label>
		
		<input type="radio" id="note_b" value="B" name="notes" />
		<label for="note_b">B</label>
	</div>
	
	<table id="fingerings" style="margin-top: .5em;">
		<thead>
			<tr>
				<th>#</th>
				<th>Fingering</th>
			</tr>
		</thead>
	</table>
</div>