<div id="scaleDialog" class="modal large fade" style="display: block;">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Select Tuning</h3>
	</div>

	<div class="modal-body">
		<ul id="tunings">

 		</ul>
	</div>

	<div class="modal-footer">
		<div class="actions">
			<input class="btn primary" type="submit" value="OK" id="btnOkay" />
			<input class="btn" type="submit" value="Delete" id="btnDeleteScale" />
			<input class="btn cancel" type="submit" value="Cancel" id="btnCancel" />
		</div>
	</div>
</div>