<div id="tuningDialog" class="modal small fade" style="display: block;">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Select Tuning</h3>
	</div>

	<div class="modal-body">
		<ul id="tunings">
 		</ul>
	</div>

	<div class="modal-footer">
		<div class="actions">
<!-- 			<input class="btn primary" type="submit" value="Select" id="btnSelectTuning" /> -->
			<input class="btn cancel" type="submit" value="Cancel" id="btnCancel" />
		</div>
	</div>
</div>