<script th:if="${#httpServletRequest.getServerName() == 'fretboardstudio.com' || #httpServletRequest.getServerName() == 'www.fretboardstudio.com'}">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-27181913-1', 'auto');
	ga('send', 'pageview');
</script>

<script th:unless="${#httpServletRequest.getServerName() == 'fretboardstudio.com' || #httpServletRequest.getServerName() == 'www.fretboardstudio.com'}">
	/**
	 * Analytics not included in development
	 */
</script>
