<p>&copy;John Brainard 2015
	&nbsp;|
	<a href="https://twitter.com/FretboardStudio" rel="me">Follow @FretboardStudio</a>
	<span class="st_facebook_button"></span>
	<span class="st_twitter_button"></span>
</p>