<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">

<head>
	<title>FretboardStudio - The future of the fretboard!</title>

	<link rel="stylesheet" href="ui/css/bootstrap.css"></link>
	<link rel="stylesheet" href="ui/smoothness/smoothness.css"></link>
	<link rel="stylesheet" href="ui/css/print.css"></link>
	<link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu+Condensed&amp;subset=greek-ext"
	      rel='stylesheet' type='text/css'/>

	<style type="text/css">
		/* Override some defaults */
		html, body {
		background-color: #eee;
		}
		body {
		/* padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */ */
		}
		.container > #footer p {
		text-align: center; /* center align it with the container */
		}
		.container {
		width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this
		removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
		}

		/* The white background content wrapper */
		.content {
		background-color: #fff;
		padding: 20px;
		margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
		border-radius: 0 0 6px 6px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
		box-shadow: 0 1px 2px rgba(0,0,0,.15);
		}

		#sheetContent {
		min-height: 11in;
		}

		/* Page header tweaks */
		.page-header {
		background-color: #f5f5f5;
		padding: 20px 20px 10px;
		margin: 20px -20px 20px;
		}

		/* Give a quick and non-cross-browser friendly divider */
		.content .span4 {
		margin-left: 0;
		padding-left: 19px;
		border-left: 1px solid #eee;
		}

		.topbar .btn {
		border: 0;
		}
	</style>

	<script th:replace="analytics"></script>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<div id="topbar" class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" th:href="@{/}">FretboardStudio</a>

			<div th:include="nav :: main"/>
		</div>
	</div>
</div>

<div class="container">
	<div class="content" id="pageContent">
		<div class="page-header">
			<h1>
				FretboardStudio
				<small>Fretboard &amp; Chord Sheet Layout</small>
			</h1>
		</div>

		<div th:replace="::content">

		</div>

		<div class="row hide" id="oldBrowser">
			<div class="span14">
				<div class="alert-message block-message error">
					<p>
						<strong>We're very sorry!</strong> You're using a browser that doesn't support the features we
						need.
					</p>

					<p>Please choose a browser below and get started using <strong>Fretboard Studio</strong>!</p>

					<ul class="browsers clearfix">
						<li class="firefox">
							<a href="http://www.mozilla.org/en-US/firefox/fx/" target="_blank"></a>
						</li>
						<li class="chrome">
							<a href="http://www.google.com/chrome" target="_blank"></a>
						</li>
						<li class="safari">
							<a href="http://www.apple.com/safari/" target="_blank"></a>
						</li>
						<li class="opera">
							<a href="http://www.opera.com/browser/" target="_blank"></a>
						</li>
						<li class="ie">
							<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home"
							   target="_blank"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="footer" th:include="footer">

	</div>
</div>

<div id="spinner" class="spinner hide">
	<img src="ui/images/ajax-loader.gif" id="img-spinner" alt="Loading..."/>
	Loading...
</div>

<div id="newSheetDialog" class="modal hide fade" style="display: none;">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>

		<h3>New Sheet....</h3>
	</div>
	<div class="modal-body">
		<form id="newSheetForm">
			<fieldset>
				<div class="clearfix">
					<label for="sheetName">Name</label>

					<div class="input">
						<input type="text" id="sheetName" class="xlarge"/>
					</div>
				</div>

				<div class="clearfix">
					<label for="template">Template</label>

					<div class="input">
						<select id="template" class="template-selection"></select>
					</div>
				</div>

				<div class="clearfix">
					<label for="rootNote">Root Note</label>

					<div class="input">
						<select id="rootNote" class="note-selection">
							<option value="C">C</option>
							<option value="C#">C#/Db</option>
							<option value="D">D</option>
							<option value="D#">D#/Eb</option>
							<option value="E">E</option>
							<option value="F">F</option>
							<option value="F#">F#/Gb</option>
							<option value="G">G</option>
							<option value="G#">G#/Ab</option>
							<option value="A">A</option>
							<option value="A#">A#/Bb</option>
							<option value="B">B</option>
						</select>
					</div>
				</div>

				<div class="clearfix">
					<label for="rootScale">Root Scale</label>

					<div class="input">
						<select id="rootScale" class="scale-selection"></select>
					</div>
				</div>

			</fieldset>
		</form>
	</div>

	<div class="modal-footer">
		<div class="actions">
			<input class="btn primary" type="submit" value="Create!" id="btnSave"/>
			<input class="btn cancel" type="submit" value="Cancel" id="btnCancel"/>
		</div>
	</div>
</div>

<script type="text/javascript" src="ui/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="ui/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="ui/js/jquery.wire.js"></script>
<script type="text/javascript" src="ui/js/jquery.Fretboard.js"></script>
<script type="text/javascript" src="ui/js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="ui/js/StorageWrapper.js"></script>
<script type="text/javascript" src="ui/js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="ui/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="ui/js/bootstrap-tabs.js"></script>

<!-- [if lte IE 8] -->
<script type="text/javascript" src="ui/js/excanvas.compiled.js"></script>
<!-- [endif] -->


<div th:replace="::scriptContent"></div>


<script type="text/javascript">
		$(function() {
			$("#topbar").dropdown();
		});
</script>
</body>
</html>
