<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="main">
	<ul class="nav" id="navigation">
		<li class="${section == 'home' ? 'active' : '' }" id="mnuHome"><a th:href="@{/}">Home</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" href="#">Fretboard</a>
			<ul class="dropdown-menu">
				<li>
				<li><a href="#" id="mnuStandardTuning" class="mnu-tuning" tuning="E,A,D,G,B,E">Standard Tuning</a></li>
				<li><a href="#" id="mnuDropDTuning" class="mnu-tuning" tuning="D,A,D,G,B,E">Drop-D Tuning</a></li>
				<li><a href="#" id="mnuOpenETuning" class="mnu-tuning" tuning="E,B,E,G#,B,E">Open E Tuning</a></li>
				<li><a href="#" id="mnuMoreTunings">More Tunings...</a></li>
				<li class="divider">&nbsp;</li>
				<li><a href="#" id="mnuGuitar" class="mnu-tuning" tuning="E,A,D,G,B,E">6-String Guitar</a></li>
				<li><a href="#" id="mnuBassGuitar" class="mnu-tuning" tuning="E,A,D,G">Bass Guitar</a></li>
				<li><a href="#" id="mnuBass5" class="mnu-tuning" tuning="B,E,A,D,G">5 String Bass</a></li>
				<li><a href="#" id="mnuThreeString" class="mnu-tuning" tuning="E,A,D">3-String Tuning</a></li>

				</li>
			</ul>
		</li>

		<li id="mnuHelp" class="${section == 'help' ? 'active' : ''}">
			<a th:href="@{/about}">About</a>
		</li>
	</ul>
</div>

</body>

</html>