<div class="pageHeader">
	<h1 class="sheet-text"></h1>
</div>

<div class="row">
	<span class="span16"> 
		<label for="mainFretboard"></label>
		<span id="mainFretboard"></span>
	</span>
</div>

<div class="row">
	<span class="span16">
		<br/>
		<ul class="media-grid fretboard-list" id="mediagrid1">
			<li>
				<a href="#">
					<canvas width="390" height="100"></canvas>
				</a>
			</li>

			<li>
				<a href="#">
					<canvas width="390" height="100"></canvas>
				</a>
			</li>
		</ul>
	</span>
</div>